<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Exam details</title>
<link rel="stylesheet" type="text/css" media="all" href="../CSS/mystyle.css" th:href="@{/css/mystyle.css}" />
</head>
<body>
<div align="right">
		<a th:href="@{/Logout}">Logout</a>
	</div>
	Student: 
	<span th:text="${exam.name}"></span> 
	<span th:text="${exam.surname}"></span> <br>
	Student id:
	<span th:text="${exam.studentId}"></span> <br>
	Student email:
	<span th:text="${exam.email}"></span> <br>
	Corso di laurea:
	<span th:text="${exam.corsoDiLaurea}"></span> <br>
	
	<div th:switch="${exam.status}">
	
		<div th:case="'NONINSERITO'">
			<form th:action="@{/UpdateGrade}" method="POST">
				Select a grade:
	 			<br><select name="grade">
				<option th:each="g : ${grades}" th:value="${g}"
					th:text="${g}">grade</option>
		 		</select> 
					<input type="hidden" name="examId" th:value="${exam.examId}"> 
					<input type="hidden" name="courseName" th:value="${courseName}">
					<input type="submit" name="submit" value="Submit Grade">
			</form>
		</div>
					
					
		<div th:case="'INSERITO'">
			<form th:action="@{/UpdateGrade}" method="POST">
				Modify current grade:
	 			<br><select name="grade">
				<option th:each="g : ${grades}" th:value="${g}"
					th:text="${g}">grade</option>
				</select> 
				<input type="hidden" name="examId" th:value="${exam.examId}"> 
				<input type="hidden" name="courseName" th:value="${courseName}">
				<input type="submit" name="submit" value="Submit Grade">
			</form>
		</div>
					
		<div th:case="'PUBBLICATO'">
					
					
		</div>
						
	</div>

</body>
</html>