<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Professor's home</title>
<link rel="stylesheet" type="text/css" media="all" href="../CSS/mystyle.css" th:href="@{/css/mystyle.css}" />
</head>
<body>
	<div align="right">
		<a th:href="@{/Logout}">Logout</a>
	</div>
	<h1>Welcome to the Professor's Home Page</h1>
	Nice to see you again
	<span th:text="${session.professor.name}"></span>
	<span th:text="${session.professor.surname}"></span>
	
	<table border="1">
					<thead>
						<tr>
							<th>Course Code</th>
							<th>Course Name</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="p : ${courses}" th:class="(${p.courseId} == ${chosenCourseId})? 'current'">
							<td th:text="${p.code}"></td>
							<td><a href="HomeProfessor.html" th:href="@{/GoToHomeProfessor(courseId=${p.courseId})}"><span
									th:text="${p.name}"></span></a></td>
						</tr>
					</tbody>
	</table>
	
	<div th:if="${not #lists.isEmpty(appelli)}">
					
						Choose an appello for <span th:text="${chosenCourseName}"></span>:
							<table border="1">
								<thead>
									<tr>
									<th>Date</th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="a : ${appelli}">
										<td th:text="${a.date}"></td>
										<td><a th:href="@{/GoToRegisteredStudents(appelloDate=${a.date}, appelloId=${a.appelloId}, courseName=${chosenCourseName})}">Details</a></td>
									</tr>
								</tbody>
							</table>
	</div>
	
</body>
</html>