<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<meta http-equiv="cache-control" content="no-cache">
<title>Registered students</title>
<link rel="stylesheet" type="text/css" media="all" href="../CSS/mystyle.css" th:href="@{/css/mystyle.css}" />
</head>
<body>
	<div align="right">
		<a th:href="@{/Logout}">Logout</a>
	</div>
	
	<div align="right">
		<a th:href="@{/GoToHomeProfessor}">Home Page</a>
	</div>
	
	<h2>Registered students for 
	<span th:text="${courseName}"></span>, <span th:text="${appelloDate}"></span>
	<!-- course=${course}, appello=${sppello}, courseName=${courseName} -->
	</h2>

		<div th:if="${not #lists.isEmpty(registeredStudents)}">
				
					<table border="1">
						<thead>
							<tr>
								<th>
								<a href="RegisteredStudents.html" th:href="@{/GoToRegisteredStudents(sortBy='studentId', appelloDate=${appelloDate}, appelloId=${appelloId}, courseName=${courseName})}">Student id</a>
								</th>
								<th>
								<a href="RegisteredStudents.html" th:href="@{/GoToRegisteredStudents(sortBy='surname', appelloDate=${appelloDate}, appelloId=${appelloId}, courseName=${courseName})}">Surname</a>
								</th>
								<th>
								<a href="RegisteredStudents.html" th:href="@{/GoToRegisteredStudents(sortBy='name', appelloDate=${appelloDate}, appelloId=${appelloId}, courseName=${courseName})}">Name</a>
								</th>
								<th>
								<a href="RegisteredStudents.html" th:href="@{/GoToRegisteredStudents(sortBy='email', appelloDate=${appelloDate}, appelloId=${appelloId}, courseName=${courseName})}">Email</a>
								</th>
								<th>
								<a href="RegisteredStudents.html" th:href="@{/GoToRegisteredStudents(sortBy='corsoDiLaurea', appelloDate=${appelloDate}, appelloId=${appelloId}, courseName=${courseName})}">Corso di laurea</a>
								</th>
								<th>
								<a href="RegisteredStudents.html" th:href="@{/GoToRegisteredStudents(sortBy='grade', appelloDate=${appelloDate}, appelloId=${appelloId}, courseName=${courseName})}">Grade</a>
								</th>
								<th>
								<a href="RegisteredStudents.html" th:href="@{/GoToRegisteredStudents(sortBy='status', appelloDate=${appelloDate}, appelloId=${appelloId}, courseName=${courseName})}">Status</a>
								</th>
								<th>     </th>
								</tr>
						</thead>
						<tbody>
							<tr th:each="rs : ${registeredStudents}">
								<td th:text="${rs.studentId}"></td>
								<td th:text="${rs.surname}"></td>
								<td th:text="${rs.name}"></td>
								<td th:text="${rs.email}"></td>
								<td th:text="${rs.corsoDiLaurea}"></td>
								<td th:text="${rs.grade}"></td>
								<td th:text="${rs.status}"></td>
								<td><a href="ExamDetails.html" th:href="@{/GoToExamDetails(examId=${rs.examId}, courseName=${courseName})}">Modify</a></td>
							</tr>
						</tbody>
					</table>
			
					
					<form th:action="@{/Pubblica}" method="POST">
						<input type="hidden" name="appelloId" th:value="${appelloId}">
						<input type="hidden" name="appelloDate" th:value="${appelloDate}">
						<input type="hidden" name="courseName" th:value="${courseName}">
						<button type="submit" name="action" value="Pubblica">Pubblica</button>
					</form>
					
					<form th:action="@{/Verbalizza}" method="POST">
						<input type="hidden" name="appelloId" th:value="${appelloId}">
						<input type="hidden" name="appelloDate" th:value="${appelloDate}">
						<input type="hidden" name="courseName" th:value="${courseName}">
						<button type="submit" name="action" value="Verbalizza">Verbalizza</button>
					</form>
 		 </div> 
</body>
</html>